* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:root {
    --darkGreyBg: rgb(19, 19, 19);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    background-color: var(--darkGreyBg);
    color: yellow;
}

header {
    padding: 50px;
}

header h1 {
    font-weight: normal;
    font-size: 3rem;
    color: white;
}

main#app {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 20px 15px;
    border: none;
    border-radius: 100vmax;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: yellow;
    outline: 2px solid yellow;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 20px;
}

button:hover {
    background-color: yellow;
    color: var(--darkGreyBg);
    transform: scale(1.05);
}

#meme-container {
    align-items: center;
    justify-content: center;
}

#meme-image {
    width: 500px;
    height: auto;
}